@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;300;400;500;700;800&display=swap');
html {
    height: 100%;
    width: 100%;
}

.background {
    background-color: #e8e8f0;
}

.padding {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.middle {
    text-align: center;
}

.right {
    text-align: right;
    display: flex;
}

.contact {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    color: #46474b;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    color: #46474b;
    padding-top: 5%;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 2rem;
    }
}

.heading::before {
    content: "\00a0\00a0\00a0 ";
    text-decoration: line-through;
    color: #46474b;
    text-decoration-thickness: 2px;
}

.heading::after {
    content: "\00a0\00a0\00a0";
    text-decoration: line-through;
    color: #46474b;
    text-decoration-thickness: 2px;
}


/* Icons */

.fa-github,
.fa-linkedin,
.fa-envelope {
    color: #46474b;
    font-size: 2em;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
    color: #e8e8f0;
    font-size: 2em;
}

.card:hover {
    background-color: #46474b !important;
    color: #e8e8f0 !important;
}

.btn:hover {
    background-color: #e8e8f0;
    color: #46474b;
}

.card {
    border-radius: 8px;
    margin-top: 3rem;
}

.card-title {
    margin-top: 1rem;
}

.card-text {
    text-align: left;
}


/* Divide and Conquer*/

.hidden {
    visibility: hidden;
}

input[type="radio"]:checked+label.sock {
    opacity: 0.3;
    /* border: 0.4rem solid blue; */
}

.bg {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background-image: url("./pictures/divide-and-conquer-bg.jpg"); */
    background-image: url("./pictures/bg-snow.png");
    background-color: white;
    background-size: cover;
    /* background-color: rgb(255, 184, 175); */
    min-height: 100vh;
}

.bg-queens {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background-image: url("./pictures/divide-and-conquer-bg.jpg"); */
    background-image: url("./pictures/chess.jpeg");
    background-color: white;
    background-size: cover;
    /* make the backroung not relative */
    background-attachment: fixed;
    /* background-color: rgb(255, 184, 175); */
    min-height: 100vh;
}

.bg-partition {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url("./pictures/partition.jpeg");
    background-size: cover;
    /* make the backroung not relative */
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-info {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: aliceblue !important;
    /* background-image: url("./pictures/partition.jpeg"); */
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.info-img {
    /* fix size of image */
    max-width: 30rem;
    max-height: auto;
    margin: 3rem;
}

.font {
    font-size: 1.2rem;
    color: #46474b;
    /* color: whitesmoke; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'times new roman', serif;
}

.font-bold {
    font-size: 1.3rem;
    font-weight: bold;
    color: #46474b;
    /* color: whitesmoke; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'times new roman', serif;
}

.game-heading {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    color: #46474b;
    /* color: whitesmoke; */
}

@media screen and (max-width: 600px) {
    .game-heading {
        font-size: 2rem;
    }
}

.main-heading {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    color: #46474b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    /* background-color: #f5f5f5; */
    background-color: #ffffff;
    /* background-color: #e8e8f0; */
}

@media screen and (max-width: 600px) {
    .mainheading {
        font-size: 2rem;
    }
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    padding-top: 2%;
}

.chess-board th {
    padding: .5rem;
}

.chess-board td {
    border: 1px solid;
    width: 4rem;
    height: 4rem;
}

.chess-board .light {
    background: #eee;
}

.chess-board .dark {
    background: #000;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .chess-board td {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.partition {
    /* give some space in between the radio buttons */
    margin: 0.1rem;
}