{% extends "base.html" %} {% block content %}

<div class="bg" style="margin-bottom: auto; margin-top: auto">
    <div class="row mt-2">

        <div class="col middle">

            <p class="game-heading">Which is the smelly sock?</p>
            <p class="font">A pair of dirty socks have accidently been wrapped in one of the presents that Santa is about to deliver, you need to figure out which one to avoid a child getting a nasty surprise. You will get a prompt after every guess to help you find
                the smeling sock. Best of Luck! </br> Every time you restart the game, the number of socks and number of tries will change.</p>
        </div>

    </div>
    <div class="middle">
        <p class="font-bold">{{session["text"]}}</p>
        <div class="row">
            <div class="col">
                <form method="GET" action="{{ url_for('home') }}">
                    <button type="submit" class="btn btn-primary ">Back</button>
                </form>
            </div>
            <div class="col">
                <form method="GET" action="{{ url_for('divide_and_conquer') }}">
                    <button type="submit" class="btn btn-primary ">Restart</button>
                </form>
            </div>

        </div>
    </div>

    <form method="POST" action="{{ url_for('divide_and_conquer') }}">
        <div class="row my-5">
            <div class="col middle">

                {% if session["wrong_answers"] >= session["max_tries"] or session["guess"] == session["num"] %}
                <button disabled type="submit" name="guess" value="guess" class="btn btn-primary">Guess</button> {% else %}

                <button type="submit" name="guess" value="guess" class="btn btn-primary">Guess</button> {% endif %} {% if session["hint"] == '' %}
                <button type="submit" name="hint" value="hint" class="btn btn-primary">Hint</button> {% else %}
                <button disabled type="submit" name="hint" value="hint" class="btn btn-primary">Hint</button>

                <p class="font">
                    </br>{{session["hint"]}} Click
                    <a href="https://www.geeksforgeeks.org/divide-and-conquer-algorithm-introduction/" target="_blank">here</a> for learning more about divide and conquer.{% endif %}
                </p>
            </div>
        </div>


        <div class="row card-group mt-2 d-flex justify-content-center">
            {% for i in range(1,session["total_socks"]+1) %}
            <div class="col-sm-3 col-md-2 col-lg-1 my-1 d-flex justify-content-center">
                <input class="form-check-input hidden" type="radio" value={{i}} name="sock" id={{i}} />
                <label class="form-check-label sock" for="{{i}}">
                <div class="card">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm5vCa-Cb3pQruDmw4NoBFH2eGwSXgPT7z2A&usqp=CAU" alt="socks" />

                </div>
                <div class="card-body">
                    <h6 class="card-text font-weight-bold font">
                      {{i}}
                    </h6>
                  </div>
                </label>
            </div>
            {% endfor %}
        </div>

    </form>

    <!-- back button -->

    {% endblock %}