<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./static/css/bootstrap.min.css" crossorigin="anonymous" /> -->
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Custom javascript-->
    <!-- for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Algorithm Analysis and Design</title>
</head>


<body class="home">

    <div class="background " id="projects">
        <div>
            <p class="heading middle container "> Algorithms </p>
        </div>

        <div class="container " style="padding-bottom: 5% ; ">
            <div class=" row justify-content-center ">


                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Divide and Conquer</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="/divide-and-conquer" target="_blank " class="btn btn-light btn-outline-dark ">Know More</a>

                        </div>
                    </div>

                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Greedy Algorithm</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="https://diri.isb.edu/en/research/privacy.html" target="_blank " class="btn btn-light btn-outline-dark ">Know More</a>

                        </div>
                    </div>

                </div>
                <div class=" col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Dynamic Algorithm</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="https://diri.isb.edu/en/research/privacy.html" target="_blank " class="btn btn-light btn-outline-dark ">Know More</a>

                        </div>
                    </div>

                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Hello</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="https://diri.isb.edu/en/research/privacy.html" target="_blank " class="btn btn-light btn-outline-dark ">Know More</a>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <!-- PROJECT ENDS -->

    <!-- CONTACT BEGINS -->
    <div style="padding-bottom: 5%; " id="contact">
        <div>
            <p class="heading middle "> Contact </p>
            <p style="padding-bottom: 15px; text-align: center; margin: auto; " class="container ">If you like my work or you have a project or an idea you’d like to discuss, please feel free to contact me.</p>
            <div>
                <ul class="list-inline middle ">
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://github.com/esh04 " target="_blank "> <i class="fa fa-github " style="font-size: 2em; "></i></a>
                    </li>
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://www.linkedin.com/in/eshika-khandelwal/ " target="_blank "> <i class="fa fa-linkedin " style="font-size: 2em; "></i></a>
                    </li>

                    <li class="list-inline-item " style="padding:10px ">
                        <a href="mailto:eshika.k@research.iiit.ac.in " target="_blank "> <i class="fa fa-envelope " style="font-size: 2em; "></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CONTACT ENDS -->


    </div>


    <p style="text-align: center; font-size: 0.8rem; margin: auto; " class="container ">(This site was designed and developed by Eshika Khandelwal.) </p>

</body>

</html>