{% extends 'base.html' %} {% block content %}

<body class="home">

    <div class="background ">
        <div>
            <p class="heading middle container "> Algorithms </p>
        </div>

        <div class="container " style="padding-bottom: 5% ; ">
            <div class=" row justify-content-center ">


                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Divide and Conquer</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="/divide-and-conquer" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Greedy Algorithm</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="/greedy-algorithm" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>
                <div class=" col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Dynamic Algorithm</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="/dynamic-algorithm" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Tower of Hanoi</h5>
                            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu mi et augue sagittis hendrerit ac eget tellus. Praesent mattis magna et molestie maximus. </p>
                            <a href="/hello" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <!-- PROJECT ENDS -->

    <!-- CONTACT BEGINS -->
    <div style="padding-bottom: 5%; " id="contact">
        <div>
            <p class="heading middle "> Contact </p>
            <p style="padding-bottom: 15px; text-align: center; margin: auto; " class="container ">If you like my work or you have a project or an idea you’d like to discuss, please feel free to contact me.</p>
            <div>
                <ul class="list-inline middle ">
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://github.com/esh04 " target="_blank "> <i class="fa fa-github " style="font-size: 2em; "></i></a>
                    </li>
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://www.linkedin.com/in/eshika-khandelwal/ " target="_blank "> <i class="fa fa-linkedin " style="font-size: 2em; "></i></a>
                    </li>

                    <li class="list-inline-item " style="padding:10px ">
                        <a href="mailto:eshika.k@research.iiit.ac.in " target="_blank "> <i class="fa fa-envelope " style="font-size: 2em; "></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CONTACT ENDS -->


    </div>


    <p style="text-align: center; font-size: 0.8rem; margin: auto; " class="container ">(This site was designed and developed by Eshika Khandelwal.) </p>

</body>


{% endblock %}