{% extends 'base.html' %} {% block content %}

<body class="home">
    <div class="main-heading">
        <p> Learn Algorithms - The fun way! </p>

    </div>
    <div class="background ">
        <div>

            <p class="heading middle container "> Games </p>
        </div>

        <div class="container ">
            <div class=" row justify-content-center ">


                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Santa's smelly socks</h5>
                            <img src="../static/css/pictures/socks.jpeg" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br>A pair of dirty socks have accidently been wrapped in one of the presents that Santa is about to deliver, you need to figure out which one to avoid a child getting a nasty surprise. You will get a prompt after every guess
                                to help you find the smeling sock. Keep refreshing and playing with a new set of socks!</p>
                            <a href="/divide-and-conquer" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">N Queens Problem</h5>
                            <img src="../static/css/pictures/nqueens.jpeg" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br>You must place N chess queens on an NxN chessboard such that no two queens attack each other. Keep refreshing to get a new N!</p>
                            <a href="/n-queens" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>
                <div class=" col col-lg-4 col-xl-3 col-md-12 ">
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Three Partition Problem</h5>
                            <img src="../static/css/pictures/partition-tab.jpeg" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br>The goal is to partition the given numbers into three sets, such that, the sum of numbers in each set is equal </p>
                            <a href="/partition" target="_blank " class="btn btn-light btn-outline-dark ">Play</a>

                        </div>
                    </div>

                </div>



            </div>
        </div>

        <div>
            <p class="heading middle container ">Algorithms</p>
        </div>

        <div class="container " style="padding-bottom: 5% ; ">
            <div class=" row justify-content-center ">


                <div class="col col-lg-4 col-xl-3 col-md-12 ">

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Backtracking</h5>
                            <img src="../static/css/pictures/backtracking.png" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br>The Backtracking algorithm helps to solve problems in a recursive fashion by building a solution one peice at a time, removing all the solutions that do not satisy the given condition at every step. It uses the brute force
                                approach. </br>
                                </br>The term backtracking literally means that if the current solution is not accurate then 'backtrack' and move on to finding other solutions. </p>
                            <a href="/info-backtracking" target="_blank " class="btn btn-light btn-outline-dark ">Learn More</a>

                        </div>
                    </div>

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Branch and Bound Algorithm</h5>
                            <img src="../static/css/pictures/branch.jpg" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br> Branch and bound is an algorithm design paradigm which is generally used for solving combinatorial optimization problems. These problems are typically exponential in terms of time complexity and may require exploring all
                                possible permutations in worst case. The Branch and Bound Algorithm technique solves these problems relatively quickly. ,</p>
                            <a href="/info-branch and bound" target="_blank " class="btn btn-light btn-outline-dark ">Learn More</a>

                        </div>
                    </div>

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">

                        <div class="card-body ">
                            <h5 class="card-title ">Bitwise Algorithms</h5>
                            <img src="../static/css/pictures/bits.png" class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>The Bitwise Algorithms are used to perform operations at bit-level or to manipulate bits in different ways. The bitwise operations are found to be much faster and are some times used to improve the efficiency of a program.
                                To Learn more about these algorithms, click on the button below.
                            </p>
                            <a href="/info-bitwise-algorithms" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Greedy Algorithm</h5>
                            <img src="../static/css/pictures/greedy.png" class="card-img-top " alt="picture">
                            <p class="card-text ">
                                </br>The greedy algorithm, makes an optimal choice at every step in order to find the optimal solution ot the entire problem. As the name suggests, 'greedy' choooses the next piece depending upon which offers the most obvious
                                and immediate benifits.

                            </p>
                            <a href="/info-greedy" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Searching Algorithms</h5>
                            <img src="../static/css/pictures/search.png" class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>Searching Algorithms are designed to check for an element or retrieve an element from any data structure where it is stored. Based on the type of search operation, these algorithms are generally classified into two categories:
                                Sequential and Interval. Click on the button below to know more about the different types of searching algorithms.
                            </p>
                            <a href="/info-searching-algorithms" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>

                </div>
                <div class=" col col-lg-4 col-xl-3 col-md-12 ">

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Dynamic Algorithm</br>
                            </h5>
                            <img src="../static/css/pictures/dynamic.png" class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>Dynamic Programming is mainly an optimization over plain recursion. Wherever we see a recursive solution that has repeated calls for same inputs, we can optimize it using Dynamic Programming. The idea is to simply store
                                the results of subproblems, so that we do not have to re-compute them when needed later. This simple optimization reduces time complexities from exponential to polynomial. </p>
                            <a href="/info-dynamic" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">

                        <div class="card-body ">
                            <h5 class="card-title ">Sorting Algorithms</h5>
                            <img src="../static/css/pictures/sort.jpeg " class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements. The comparison operator is used to decide the new order of element in the respective data structure.
                                To Learn in detail about the various sorting algorithms, click on the button below.
                            </p>
                            <a href="/info-sorting-algorithms" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">

                        <div class="card-body ">
                            <h5 class="card-title ">Pattern Searching</h5>
                            <img src="../static/css/pictures/pattern.png " class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br> The Pattern Searching algorithms are sometimes also referred to as String Searching Algorithms and are considered as a part of the String algorithms. These algorithms are useful in the case of searching a string within
                                another string. To Learn in detail about the various pattern searching algorithms, click on the button below.
                            </p>
                            <a href="/info-pattern-searching" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>


                </div>
                <div class="col col-lg-4 col-xl-3 col-md-12 ">

                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">
                        <div class="card-body ">
                            <h5 class="card-title ">Divide and Conquer</h5>
                            <img src="../static/css/pictures/divide-and-conquer.jpeg" class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>In divide and conquer approach, the problem in hand, is divided into smaller sub-problems and then each problem is solved independently. When we keep on dividing the subproblems into even smaller sub-problems, we may eventually
                                reach a stage where no more division is possible. Those "atomic" smallest possible sub-problem (fractions) are solved. The solution of all sub-problems is finally merged in order to obtain the solution of an original problem.
                            </p>
                            <a href="/info-divide-and-conquer" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>
                    <div class="card text-center text-dark bg-light border-light mb-3 " style="width: 18rem; ">

                        <div class="card-body ">
                            <h5 class="card-title ">Randomized Algorithm</h5>
                            <img src="../static/css/pictures/random.png " class="card-img-top " alt="picture">

                            <p class="card-text ">
                                </br>An algorithm that uses random numbers to decide what to do next anywhere in its logic is called a Randomized Algorithm. For example, in Randomized Quick Sort, we use a random number to pick the next pivot (or we randomly
                                shuffle the array). And in Karger’s algorithm, we randomly pick an edge. To Learn more about these algorithms, click on the button below.
                            </p>
                            <a href="/info-randomized-algorithms" target="_blank " class="btn btn-light btn-outline-dark ">Learn more</a>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <!-- CONTACT BEGINS -->
    <div style="padding-bottom: 5%; " id="contact">
        <div>
            <p class="heading middle "> Contact </p>
            <p style="padding-bottom: 15px; text-align: center; margin: auto; " class="container ">If you like my work or you have a project or an idea you’d like to discuss, please feel free to contact me.</p>
            <div>
                <ul class="list-inline middle ">
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://github.com/esh04 " target="_blank "> <i class="fa fa-github " style="font-size: 2em; "></i></a>
                    </li>
                    <li class="list-inline-item " style="padding:10px ">
                        <a href="https://www.linkedin.com/in/eshika-khandelwal/ " target="_blank "> <i class="fa fa-linkedin " style="font-size: 2em; "></i></a>
                    </li>

                    <li class="list-inline-item " style="padding:10px ">
                        <a href="mailto:eshika.k@research.iiit.ac.in " target="_blank "> <i class="fa fa-envelope " style="font-size: 2em; "></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CONTACT ENDS -->


    </div>


    <p style="text-align: center; font-size: 0.8rem; margin: auto; " class="container ">(This site was designed and developed by Eshika Khandelwal.) </p>

</body>


{% endblock %}